{% extends 'quiz/layout/base.html' %}

{% block content %}
   
<div class="mb-3">
    <label class="form-label"></label>
    <div class="row g-2">
      <div class="col">
          <form action="" method="get">
        <input type="text" class="form-control" placeholder="Search for…" name="q">
          </form>
      </div>

      {%if user.is_authenticated%}
      <div class="col-auto align-self-center">
        
        <a href={% url 'new_question' %} class="btn btn-primary d-none d-sm-inline-block" >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><desc>Download more icon variants from https://tabler-icons.io/i/plus</desc><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            Create new Questions
          </a>
    </div>
    {%endif%}
    
  </div>
</div>
{% comment %} <a href={% url 'new_question' %}> add</a> {% endcomment %}
<div class="card">
    <div class="card-header">
      <h3 class="card-title">All Questions</h3>
    </div>
    {% for question in questions %}
    
     <div class="list-group list-group-flush">
     
      <a href="{%url "question_v" question.id %}" class="list-group-item list-group-item-action">{{question.title}}</a>

    </div> 
    {% endfor %}
  </div>

{% endblock %}



{% comment %} <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{question.title}}</h3>
     
       {% for answer in question.answer.all %} 


      <div class="dropdown-menu dropdown-menu-demo">
        <a class="dropdown-item" href="#">
          Action
        </a>
        <a class="dropdown-item" href="#">
          Another action
        </a>
      </div> 






    
       <p class="text-muted">{{answer}}</p> 
      
    
    </div>
    <!-- Card footer -->
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> {% endcomment %}