.navbar-brand {
    padding-right: 50px;
}

.navbar-collapse {
    padding-left: 750px;
}

.mt-3 {
    max-width: 750px;
}

.form-controll {
    background-color: #1A8CF7;
    color: #FFFFFF;
    border-radius: 20px;
    padding-left: 20px;
    margin: 10px auto;
}


/* .input-group-text {
    border-radius: 20px;
    background-color: #1A8CF7;
} */

.btnn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120PX;
    background-color: #1A8CF7;
    text-align: center;
    color: white;
}


/* The Modal (background) */